// jQuery
    script(src='/assets/vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/assets/vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='/assets/vendor/scrollreveal/scrollreveal.min.js')
    script(src='/assets/vendor/magnific-popup/jquery.magnific-popup.min.js')
    // Theme JavaScript
    script(src='/assets/js/creative.min.js')